<h1>Choice Units</h1>

<%= render "form" %>

<br>
<br>
<br>
<% @units.each do |unit| %>
  <%= unit.age %> | <%= unit.salary %> | <%= unit.growth %> | <%= unit.weight %> <br>
<% end %>
<br>
<br>
<br>
<%= debug(params) if Rails.env.development? %>
